.container {
    width: 1200px;
    margin: 20px auto;
    background-color: #f5f5f5;
}

.item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item-list-delete{
    display: none;
    cursor: pointer;
}

.item-list:hover .item-list-delete{
    display: block;
}

.item-list-check {
    width: 50px;
}

.item-list-content {
    flex: 1;
    text-align: left;
    padding-right: 50px;
}

.completed {
    text-decoration: line-through;
}